@import "../SCSS/variables.scss";

#projects {
  background-color: $projects_page_color_1;
  overflow: hidden;
  padding-bottom: 20px;

  #pojects_title {
    text-align: center;

    .project_title_span {
      padding: 5px 10px;
      color: $sky_blue_color;
      font-size: xx-large;
      border-bottom: 3px solid red;
    }
  }

  #desktop {
    position: relative;
    height: 90vh;
    width: 100%;
  }
}

@media screen and (min-width: 1022px) {
  #desktop {
    display: block;
  }

  #mobile_tablet {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  #mobile_tablet {
    display: block;
  }
  #desktop {
    display: none;
  }
}
