@import "../SCSS/variables.scss";

#projects {
  background-color: $projects_page_color_1;
  overflow: hidden;
  padding-bottom: 20px;

  #pojects_title {
    text-align: center;

    .project_title_span {
      padding: 5px 10px;
      color: $sky_blue_color;
      font-size: xx-large;
      border-bottom: 3px solid red;
    }
  }

  #desktop {
    position: relative;
    width: 100%;

    #view_selector {
      // float: right;
      text-align: center;
      height: 50px;
      position: sticky;
      top: 8em;
      z-index: 222222;

      .btn_layout_selector {
        float: right;
        height: 40px;
        width: 40px;
        text-align: center;
        background-color: #6119d5;
        margin: 5px 5px 15px 5px;
        border-radius: 5px;
        display: block;
        border: none;
        outline: none;
        cursor: pointer;

        .view_selector_icon {
          margin: 5px;
        }
      }
    }
  }

  .heightAdd {
    height: 90vh;
  }
}

@media screen and (min-width: 1022px) {
  #desktop {
    display: block;
  }

  #mobile_tablet {
    display: none;
  }
}

@media screen and (max-width: 1021.9px) {
  #mobile_tablet {
    display: block;
  }
  #desktop {
    display: none;
  }
}
