@import "../SCSS/variables.scss";

#Projectssml {
  width: 100vw;
  background-color: $dark_theme_color;
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  .projectCard {
    width: 95.666666667%;
    background-color: #060b10;
    padding: 1em;
    border: 2px solid #060b10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 24px;

    .headCard {
      width: 100%;
      height: auto;
      border-radius: inherit;

      img {
        width: 100%;
        height: auto;
        border: 2px solid $card_bg;
        border-radius: 16px;
      }
    }

    .bodycard {
      margin-top: 10px;
      color: white;

      .skills_used {
        display: flex;

        .skills_names {
          background-color: #ac5f5f;
          margin-right: 10px;
          padding: 5px 10px;
          border-radius: 20px;
          font-size: smaller;
        }
      }
      .project_title_details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .project_title {
          // text-align: center;
          margin-top: 10px;
          font-size: x-large;
          font-weight: bold;
        }

        .project_demo {
          .btns {
            color: #fafafc;
            margin-left: 10px;
            padding: 0.5em 1em;
            border-radius: 24px;
            background-color: #ac5f5f;
            border: none;
            outline: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .project_title_details {
    display: block !important;

    .project_demo {
      margin-top: 10px;
      .btns {
        margin-left: 0px !important;
        margin-right: 5px;
      }
    }
  }
}
