$dark_theme_color: #06121b;
$dark_theme_similar_color: #051c2c;
$sky_blue_color: #00e1ff;
$shadow_dark_color: #333;
$white_color: #fff;
$text_color: #fff;
$animate_slide_bg: #01d6af;
$card_bg : #fae2d7;
$page2_color: #022e4d;
$home_page_color_1: #022e4d;
$home_page_color_2: #0da4b8;
$skills_page_color_1: #022e4d;
$skills_page_color_2: #0da4b8;
$projects_page_color_1: #022e4d;
$projects_page_color_2: #2471a8;