@import "../SCSS/variables.scss";

$darkColors: (
  #ff6347 #4169e1 #ffd700 #8a2be2 #32cd32 #ff4500 #1e90ff #ff69b4 #00ced1
    #ff8c00
);

// @keyframes textclip {
//   to {
//     background-position: 200% center;
//   }
// }

#Preloading {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #000b11;

  #innerContent {
    border: 1px solid rebeccapurple;
    height: 100vh;
    position: absolute;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .my_name_bg {
      font-family: "Foldit", sans-serif;
      font-weight: 200;
      font-style: normal;
      // font-size: medium;
      font-size: 20vh;
      margin: 10px 20px;
      text-transform: uppercase;
    }

    #logo_component {
      width: fit-content;
      margin: auto;
    }

    #last_name {
      float: right;
    }
  }

  #barsContainer {
    display: flex;

    .bars {
      height: 100vh;
      width: 10vw;
    }
  }
}

@for $i from 1 through length($darkColors) {
  // @for $i from 1 through 10 { we can write like this aslo
  $color: nth($darkColors, $i);

  #bar#{$i} {
    background: linear-gradient(to left, $color 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.8s ease-out;
  }
}

@media screen and (min-width: 769px) {
  .my_name_bg {
    font-size: 150px;
  }
}

@media screen and (max-width: 768px) {
  .bars {
    height: 100vh;
    width: 20vw !important;
  }
  #bar6,#bar7,#bar8,#bar9,#bar10{
    display: none;
  }
  .my_name_bg {
    font-size: 100px;
  }
  #logo_svg {
    height: 183px;
    width: 348px;
  }
}

//183h
//368h
