@import "../SCSS/variables.scss";

.custom-shape-divider-top-wave {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background-color: $skills_page_color_2;

  svg {
    position: relative;
    display: block;
    width: calc(145% + 1.3px);
    height: 111px;

    .shape_fill_wave {
     fill: $skills_page_color_1;
    }
  }
}

