#link_code {
  margin-top: 20px;
}

#des {
  width: 70vw;
  padding: 20px;
  z-index: 7;
  position: absolute;
  left: 14.5%;
  top: 30%;
  background-color: rgba(0, 0, 0, 0.555);
  color: white;
  font-weight: bold;
}

#des #project_des_title {
  color: #22e5ff;
  text-align: center;
  margin-bottom: 10px;
}

#des .desContent {
  margin: 5px 0;
}

#des #desCloseBtn {
  margin-top: 20px;
  font-size: large;
  float: right;
  padding: 7px 20px;
  background-color: red;
  border-radius: 10px;
  border: 1px solid red;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.blurBg {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

#Carousel_container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 5px 5px #7d7c7c;
  border: 2px solid rgb(156, 6, 63);
  padding: 50px;
  width: 1100px;
  height: 500px;
}

.item {
  background-size: cover;
  width: 200px;
  height: 300px;
  display: inline-block;
  position: absolute;
  z-index: 1;
  top: 40%;
  transform: translate(5em, 0%);
  border-radius: 20px;
  box-shadow: 0 10px 10px #505050;
  transition: 1s ease-in-out;
}

.item:nth-child(2) {
  left: 0;
  top: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
}

.item:nth-child(3) {
  left: 80%;
}

.item:nth-child(4) {
  left: 85%;
}

.item:nth-child(5) {
  left: 90%;
}

.item:nth-child(n + 6) {
  left: 100%;
  opacity: 0;
}

/* .item:hover {
  transform: translate(-5%, -10%) scale(1.05);
  z-index: 2;
} */

.item .content {
  position: absolute;
  bottom: -6.8%;
  width: max-content;
  text-align: left;
  padding: 10px;
  color: #0e0e0e;
  transform: translate(0, -50%);
  display: none;
}

.item:nth-child(2) .content {
  display: block;
}

.item .name {
  font-size: 40px;
  font-weight: bold;
  opacity: 0;
  animation: showcontent 1s ease-in-out 1 forwards;
}

.item .btn_seeMore {
  text-align: center;
  background-color: #fff;
  color: #008596;
  border: 2px solid #008596;
  border-radius: 20px;
  box-shadow: 1px 2px 2px black;
  padding: 10px 20px;
  position: absolute;
  margin-top: 30px;
  cursor: pointer;
  font-weight: bold;
  font-size: medium;
}

.item .btn_seeMore:hover {
  border: 1px solid rgb(0, 255, 76);
  background-color: #008596;
  color: #fff;
}

.buttons {
  position: absolute;
  bottom: -60px;
  z-index: 3;
  text-align: center;
  right: 50%;
}

.buttons button {
  width: 40px;
  cursor: pointer;
  height: 40px;
  margin: 0px 10px;
  border-radius: 50%;
  border: 1px solid #555;
  transition: 0.5s;
  font-weight: bold;
}

.buttons button:hover {
  background-color: #008596;
  color: #fff;
}

@keyframes showcontent {
  from {
    opacity: 0;
    transform: translate(0, 10px);
    filter: blur(33px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
    filter: blur(0);
  }
}

@media screen and (min-width: 1022px) {
  #Carousel_container {
    padding: 50px;
    width: 890px;
    height: 400px;
  }

  .item {
    width: 150px;
    height: 240px;
  }

  .item:nth-child(3) {
    left: 75%;
  }

  .item:nth-child(4) {
    left: 78%;
  }

  .item:nth-child(5) {
    left: 81%;
  }
}

@media screen and (min-width: 1440px) {
  #Carousel_container {
    padding: 50px;
    width: 1100px;
    height: 500px;
  }
}
