*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* WebKit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  /* background: #5abdf6; Track color */
  /* background: linear-gradient(45deg, #051c2c, #022e4d); */
  background: linear-gradient(45deg, #0162a8, #000351, #022e4d);
}

::-webkit-scrollbar-thumb {
  background: orangered; 
  /* border-radius: 5px;  */
}

::-webkit-scrollbar-thumb:hover {
  /* background: #d10707; Hover color */
  background: #fff; 
}
